body {
  font-size: 1em;
  font-family: Roboto, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

img {
  display: block;
}

li {
  list-style: none;
}
